@font-face {
    font-family: iconfont;
    src: url("iconfont.eot");src: url("iconfont.eot?0ebeeb97#iefix") format("embedded-opentype"),
             url("iconfont.woff2?0ebeeb97") format("woff2"),
             url("iconfont.woff?0ebeeb97") format("woff"),
             url("iconfont.ttf?0ebeeb97") format("truetype"),
             url("iconfont.svg?0ebeeb97#iconfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="if"], [class*=" if"] {
    font-family: 'iconfont' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.if-aperture::before {
    content: "\ea01";
}

.if-hat::before {
    content: "\ea02";
}

.if-logo::before {
    content: "\ea03";
}

