.main-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;

  .if-logo {
    margin-bottom: 60px;
    font-size: 140px;
    color: #61dafb;
  }
}
